.loginForm{
    width: 25% ;
    margin: 5% auto;
    border: solid 1px;
    border-radius: 8px;
    padding: 20px;
}

.welcome{
    margin-bottom: 20px;
    font-size: 24px;
}

.error{
    color: red;
}