.loginForm{
    width: 25% ;
    margin-top:10%;
    opacity: 1;
    z-index: 1;

}


.loginContainer{
    margin:10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url('src/assets/posturas-de-yoga.jpg');
    opacity:0.8;
    background-size: cover;
}


.welcome{
    font-size: 72px;
    font-family:sans-serif;
    text-shadow: 1px black;
    color:whitesmoke;
  
}

.error{
    color: red;
}

button{
    background-color: #0d6efd;
    border-radius: 5px;
    height: 30px;
    color: white;
    cursor: pointer;
}