<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/add">Add Student</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/students">Show Students</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/debts">Show Debts</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/schedule">Shcedule</a>
        </li>
      </ul>
    </div>
  </nav>
